# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Security & Secrets
*.env
*.jks
*.keystore
*.pem
*.p12
key.properties
android/key.properties
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Testing & Coverage
coverage/
test-results/


# Flutter Web
web/build/
.web/

# Windows
windows/flutter/ephemeral/
windows/runner/resources/

# Linux
linux/flutter/ephemeral/

# MacOS
macos/Flutter/ephemeral/

# Exceptions to above rules.
!/android/app/src/main/AndroidManifest.xml

# Android specific
android/.gradle/
android/local.properties
android/app/build/
